@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


body {
    background: linear-gradient(90deg, #FFFEFF 0%, #D7FFFE 100%);
    /* background: #f5f5f5; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;